<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Transcript</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
</head>
<body>
    <h1>Live Transcript</h1>
    <div id="transcript"></div>
    <script>
        var socket = io();
        socket.on('transcript', function(line) {
            $('#transcript').append('<p>' + line + '</p>');
        });
    </script>
</body>
</html>
